<!-- FORM -->
<form method="POST" action="/login">

    <div class="mb-3 text-start">
        <label class="text-light">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Enter username" required>
    </div>

    <div class="mb-3 text-start input-box">
        <label class="text-light">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required>

        <!-- 👁️ Toggle -->
        <span class="toggle-password" onclick="togglePassword()">👁️</span>
    </div>

    <button type="submit" class="btn btn-light w-100 btn-login">
        🔐 Login
    </button>

</form>